.DetailModal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: black;
}

.DetailModal .buttonBox{
    display: flex;
    justify-content: center;
}

.DetailModal .container {
    height: 500px;
    width: 100%;
}

.DetailModal .floatingButton{
    border: 1px solid black;
    padding: 2px 4px;
    margin: 2px 2px 0;
    display: inline-block;
    background-color: white;
}

.DetailModal .container .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #999;
}

.DetailModal .container:hover .overlay {
    opacity: 1;
}

.overlayText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}